#modalContent{
    margin: 8.5rem auto auto auto;
    width: 363px;
    background-color: white;
    border-radius:15px !important ;
}

#modalBodyMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 55px;
}



#modalText{
    color: black !important;
    font-family: poppins;
    font-size: 14px !important;
    font-weight: 500;
    margin-top: 28px;
}

#modalButton{
    height: 72px;
    margin: 31px 0px 0px 0px;
}

/* Artist/User Login */
#userModalContent{
    margin: 5rem auto auto auto;
    width: 363px;
    background-color: white;
    border-radius:15px !important ;
}

#close-button{
    background-color: #FFA700;
    height: 24px;
    width: 24px;
    margin-left: 303px;
    margin-top: 34px;
    border-radius: 100px;
} 

#close{
    width: 0.5px;
    align-self: center;
    margin-right: 22.15px;
    margin-top: -2.5px;
    color: white;
   opacity: 1;
   background: none;
   border: none;
}

#userModalBodyMain{
    text-align: center;
    margin-top: 13px;
}



#modalLogo{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#userModalText{
    color: black !important;
    font-family: poppins;
    font-size: 14px !important;
    font-weight: 500;
    margin-top: 20px;
}


#form{
    margin: 38px 18px 12px 18px;
    height: 180px;
    width: 291px;
}

.form-control-login{
    height: 52px;
    background-color: #F1F0F0 !important;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 21px;
    text-align: left;
    border-radius: 10px !important;
}


#forgotPassword text{
    color: black;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
}

#sign-text{
    color: #FFA700 ;
}




/* Artist Sign up */




#SignUpModalContent{
    border-radius: 15px;

}

#signUpModalBody{
    text-align: center;
    margin-top: 13px;
}

#modalText{
    color: black !important;
    font-family: poppins;
    font-size: 14px !important;
    font-weight: 500;
    margin-top: 20px;
}


#signup-form{
    margin-top: 40px;

}


#signup-close-button{
    background-color: #FFA700;
    height: 24px;
    width: 24px;
    margin-top: 34px;
    margin-right: 33px;
    border-radius: 100px;
    align-self: flex-end;
}



.form-control-signup{
    height: 52px;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 21px;
    text-align: left;
    background-color: #F1F0F0 !important;
    border-radius: 10px !important;

} 

#haveAccount{
    text-align: center;
}

#haveAccount text{
    color: black;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
}





