#modalContent{
    margin: 8.5rem auto auto auto;
    width: 363px;
    background-color: white;
    border-radius:15px !important ;
}

#modalBodyMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 55px;
}



#modalText{
    color: black !important;
    font-family: poppins;
    font-size: 14px !important;
    font-weight: 500;
    margin-top: 28px;
}

#modalButton{
    height: 72px;
    margin: 31px 0px 0px 0px;
}

/* Artist/User Login */
#userModalContent{
    margin: 5rem auto auto auto;
    width: 363px;
    background-color: white;
    border-radius:15px !important ;
}

#close-button{
    background-color: #FFA700;
    height: 24px;
    width: 24px;
    margin-left: 303px;
    margin-top: 34px;
    border-radius: 100px;
} 

#close{
    height: 10px;
    width: 2px;
    margin-right: 21px;
    margin-top: -5.5px;
    color: white;
   opacity: 100;
}

#userModalBodyMain{
    text-align: center;
    margin-top: 13px;
}



#modalLogo{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#userModalText{
    color: black !important;
    font-family: poppins;
    font-size: 14px !important;
    font-weight: 500;
    margin-top: 20px;
}


#form{
    margin: 38px 18px 12px 18px;
    height: 180px;
    width: 291px;
}

input{
    height: 52px;
    background-color:  #C4C4C4 !important;
    border-radius: 10px !important;
}


#forgotPassword text{
    color: black;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
}

#sign-text{
    color: #FFA700 ;
}




/* Artist Sign up */

#SignUpModalContent{
    margin: 3rem 15rem auto auto;
    width: 670px;
    background-color: white;
    border-radius:15px !important ;
}

#signup-close-button{
    background-color: #FFA700;
    height: 24px;
    width: 24px;
    margin-left: 610px;
   
    margin-top: 57px;
    border-radius: 100px;
} 

#SignUpModalBody{
    text-align: center;
}

#signup-form{
    margin: 56px 0px 15px 0px;
    width: 599px;
    
}

#signup-formGroup{
    height: 52px;
    width: 599px;
}

#haveAccount text{
    color: black;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
}





