.playBox {
  height: 500px;
  text-align: center;
  width: 100%;
}
.react-jinke-music-player-main .music-player-panel .panel-content {
  height: 100%;
  width: calc(100vw - 10.4%);
  padding: 0 30px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10.4%;
}
.react-jinke-music-player-main .music-player-panel {
  box-shadow: 0 0 3px #ffa700;
  position: fixed;
  width: calc(100vw - 10.4%);
  bottom: 0;
  left: 0;
  color: #fff;
  height: 80px;
  background-color: #ffa700 !important;
  z-index: 99;
  transition: background-color 0.35s cubic-bezier(0.43, -0.1, 0.16, 1.1);
}
