.header-text-dashboard{
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    text-align: left;
    margin-top: -5rem;
    color: white;
    padding-left: 19px;
}

@media screen and (max-width: 500px){
    .header-text-dashboard{
        margin-top: 3rem;
        font-size: 25px;
    }
}
.card-dashboard{
    height: 215px !important;
    margin-top: 1.4em;
    border-radius: 15px;
    background: #0D0D0D;
    padding-top: 44px;
    cursor: pointer;
}

.card-dashboard p{
    color: white;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    text-align: left; 
    margin-left: 45px;
}

.card-dashboard img{
    margin-left: 7rem;
}

.innerPadding{
    padding: 25px;
}

#Profile{
 background-color: #E43D29;
}
#Albums{
    background-color:#DB7C01;
}
#Followers{
    background-color: #1F2858;
}
