#dropBox {
    margin: 53px 106px 0px 78px;
}

@media only screen and (max-width: 600px) {
    #dropBox {
        margin-top: 8em;
        margin-left: auto;
        margin-right: auto;
    }
}

#uploadStatus {
    height: 141px;
    margin-top: 72px;
    border-radius: 15px;
    background: #0D0D0D;
}

.TrackInfo {
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 74px;
    padding-top: 25px;
    color: #EFF0F1;
}

.TrackStatus {
    justify-content: space-between;
    margin-left: 74px;
    padding-top: 9px;
}

.TrackStatus #size {
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: white;
}

.TrackStatus text {
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: #FFA700;
}

.fas.fa-trash {
    margin-right: 76px;
}

.progress {
    height: 7px !important;
    margin-top: 30px !important;
    border-radius: 31px !important;
    background-color: #434343 !important;
    margin-left: 74px !important;
    margin-right: 76px !important;
}

.progress-bar-info {
    height: 7px !important;
    width: 210px !important;
    border-radius: 31px !important;
    background-color: #FFA700 !important;
}

#buttonDiv{
    display: flex;
    justify-content: flex-end;
    margin-top: 100px ;
    border-radius: 30px;
   
}