.content{
    height: 100vh;
    width:calc(100% - 135.5px);
    left: 135.5px;
    position: relative;
    z-index: 5;
    background-color: #0d0d00;
   }

.search-container{
    margin: auto;
    margin-top: auto;
width: 100%;
display: grid;
margin-top: 34px;
}
.search-container img{
    margin: 5px auto;
}
#text{
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    margin-top: 13px ;
    color: #C4C4C4;
    opacity: 20%;
}

/* #button-addon3{
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
} */

/* artist */

/* TODO pad search icon */
#searchArtist{
    height: 50px;
    margin-top: 34px;
    border-radius: 50px 50px;
    border:1px solid rgba(255, 253, 253, 0.2);
    background-color: rgba(27, 26, 31, 0.3) !important;
}



@media only screen and (max-width: 600px) {
    
}   

#button-addon4{
    border-radius: 25px 0px 0px 25px;
    border: none;
    margin: 0px;
    background-color: rgba(27, 26, 31, 0.3) !important;
}


#button-addon4 i{
    font-size: 22px;
    margin-top: 5px;
    margin-right: -8px;
    
}
.fa.fa-search{
    color: #828282;
  
}
#artistInput{
    border-radius: 0px 25px 25px 0px !important;
    background-color: rgba(27, 26, 31, 0.3) !important;
    color: #ffffff; 
}

#artistInput:focus{
    box-shadow: none;
    outline: none !important;
}


