/* nav bar background */
.navbar{
    background:#0d0d0d;
     margin-left: 6.9rem;
}


/* font style */
.nav-item{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #e5e5e5;
    -webkit-transition: font-size .5s ease;
    -moz-transition: font-size .5s ease;
    -o-transition: font-size .5s ease;
    transition: font-size .5s ease;
}

/* animation for links */
.nav-item:hover,
.nav-item:focus,
.nav-item:active:focus{
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover) #e5e5e5;
    transform: translateY(-0.35em);
    text-shadow: -.25px -.25px 0 #e5e5e5, 
                .25px .25px #e5e5e5;
    outline:  white 7px; 
    font-size: 1rem;
}


