/* sidebar container */
#sidebar-wrapper{
    height: 100vmax;
    width: 139px; 
    position: fixed;
    background: #0D0D0D;  
}

/* udunkulu logo */
.sidebar-header{
    padding:2.5rem 0.95rem 0.95rem 0.95rem;
    margin-left: 0.7rem;
}

/* button list order */
.list-group{
    padding:0.8rem;
}

.list-item{
    margin-top: 0.5rem;
    list-style: none;
    padding-top: 1rem;
}

#button-border{
    border-radius: 15px;
    background-color: #EFF0F1;
}

.fas.fa-home,
.fas.fa-search{
   color:  #0D0D0D ;
}

/* animations */
#button-border:hover,
#button-border:focus,
#button-border:active:focus{
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover) ;
    transform: translateX(0.35em);
    background-color: #FFA700;
}

