/* sidebar container */
#sidebar-wrapper{
    height: 100vmax;
    width: 139px; 
    position: fixed;
    background: #0D0D0D;  
}

/* udunkulu logo */
.sidebar-header{
    padding:2.5rem 0.95rem 0.95rem 0.95rem;
    padding-left: 39px;
    padding-top: 37px;
}

/* button list order */
.list-group-sidebar{
    padding-left: 1.7rem;
    margin-top: 3.9em;
}

.list-item{
    margin-top: 0.5rem;
    list-style: none;
    padding-top: 1.4rem;
}

#button-border{
    border-radius: 9px;
    background-color: #FFA700;
    padding: 7px;
}
#button-border i {
    font-size: 25px;
}

.fas.fa-home,
.fas.fa-search{
   color:  #0D0D0D ;
}

/* animations */
#button-border:hover,
#button-border:focus,
#button-border:active:focus{
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover) ;
   
    background-color: #FFA700;
}

